@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 992px;
  margin: 0 auto;
}
/* header style start */
.header-wrapper {
  display: flex;
  align-items: center;
}
.header {
  background-color: #161616;
  padding: 50px;
  border-radius: 30px;
  margin-top: 50px;
}
.header-info {
  width: 50%;
}
.header-info h1 {
  font-size: 70px;
  color: #fff;
  margin-bottom: 0;
  line-height: 85px;
}
.header-info h1 span {
  color: orange;
}
.header-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.header-img {
  width: 50%;
}
.header-img img {
  width: 100%;
}
.btn {
  background-color: orange;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-size: 20px;
  border: 1px solid orange;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
}
/* header style end */
/* blog style start */
.blog {
  margin: 50px 0;
}

.blog-img {
  display: flex;
  gap: 30px;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog-img1 img {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #161616;
  padding: 20px;
  border-radius: 30px;
  margin-right: 20px;
}
.side-btn {
  text-decoration: none;
  color: orange;
  font-size: 16px;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}
.active-btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: orange;
  padding: 5px 15px;
  border-radius: 3px;
}
.wrapper {
  display: flex;
}
.blog-img img {
  width: 100%;
}
.transfer {
  background-color: transparent;
  border: 1px solid #161616;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.blog-info h2 {
  font-size: 18px;
  font-weight: 600;
}
.icon {
  margin-right: 10px;
  color: #161616;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
}
article {
  background-color: #fff;
  padding: 10px;
  box-shadow: 4px 4px 40px lightgray;
  border-radius: 10px;
}
/* blog style end */
/* footer style start */
footer {
  background-color: #161616;
  padding: 30px 0;
}
.footer {
  text-align: center;
}
.footer h1 {
  color: #fff;
}
.footer-link {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.footer-link a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-link a:hover {
  color: orange;
}

hr {
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.s-icon {
  margin-top: 20px;
}
.s-icon a {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease;
}
.s-icon a:hover {
  color: orange;
}

/* footer style end */
/* media quiery start */
/* @media screen and (max-width: 992px) {
  .container {
    padding: 30px;
  }
  .header-info h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .sidebar {
    background-color: transparent;
    flex-direction: row;
    width: 500px;
    justify-content: flex-start;
    margin-bottom: 50px;
    height: 0;
  }
  .side-btn {
    text-decoration: none;
    color: orange;
    font-size: 16px;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 4px 4px 40px lightgray;
  }
  .active-btn {
    background-color: orange;
    color: white;
  }
  .blog-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .header-info h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .header-img {
    width: 100%;
  }
  .header-info {
    width: 100%;
  }
  .header-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .header-img img {
    margin-top: 50px;
  }
  .sidebar {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    height: 200px;
  }
  .side-btn {
    text-decoration: none;
    color: orange;
    font-size: 26px;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 4px 4px 40px lightgray;
  }
  .active-btn {
    background-color: orange;
    color: #fff;
  }

  .blog-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn {
    font-size: 16px;
    margin-top: 20px;
  }

  .footer-link {
    flex-direction: column;
  }
} */

/* media quiery end */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 400px;
    height: 50px;
    background-color: transparent;
  }
  .blog-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 576px;
    margin: 0 auto;
  }
  .header-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .header-img img {
    margin-top: 90px;
  }
  .btn {
    margin-top: 30px;
  }

  .wrapper {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: transparent;
  }
  .blog-img img {
    width: 100%;
  }
  .blog-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    width: 100%;
  }
}
